name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

env:
  CLI_DOC: https://github.com/suinplayground/cla-assistant-demo/blob/main/CLA.md

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.event.comment.body }}
          regex: '^\s*(.+?)\s*$'
          flags: s
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || steps.regex-match.outputs.group1 == 'CLAに同意します。') || github.event_name == 'pull_request_target'
        # Beta Release
        uses: cla-assistant/github-action@v2.1.3-beta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # the below token should have repo scope and must be manually added by you in the repository's secret
          PERSONAL_ACCESS_TOKEN : ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'signatures/version3/cla.json'
          path-to-document: ${{ env.CLI_DOC }}
          # branch should not be protected
          branch: 'main'
          #allowlist: user1,bot*
          create-file-commit-message: "chore(cla): CLA署名ファイルを作成しました。"
          signed-commit-message: 'chore(cla): $contributorName さんが #$pullRequestNo にてCLAに署名しました。'
          custom-notsigned-prcomment: |
            プルリクエストをお送りくださりありがとうございます！
            頂いたプルリクエストをマージする前に、[CLA](${{ env.CLI_DOC }})への同意をお願いしております。
            同意を表明するには、次の文言をこのプルリクエストのコメント欄に記入し送信してください。(※一言一句同じにする必要があります)
          custom-pr-sign-comment: CLAに同意します。
          custom-allsigned-prcomment: コントリビューター全員が[CLA](${{ env.CLI_DOC }})に同意しました。
